<section  id="header">
    <div>
        <img (click)="goToLink('https://github.com/NilsNeu1')" class="socialLinks github"
            src="./../../assets/Header/Contact_icons/github.svg" alt="github Profil öffnen">
        <img class="socialLinks linkedin" src="./../../assets/Header/Contact_icons/linkedin.svg"
            alt="LinkedIn Profil öffnen">
        <img class="socialLinks mail" src="./../../assets/Header/Contact_icons/mail.svg" alt="Email Formular öffnen">
    </div>

    <div class="headerDeveloper">
        <mat-icon svgIcon="dev-logo" class="nameIcon"></mat-icon>
        <span class="headerName">Neumann</span>
    </div>

    <div class="navigation">
        <div (click)="languageSwitch()" class="languageSelect">
            <span [class.animate]="langAnimate" class="langText">{{ activeLanguage }}</span>
        </div>

        <mat-icon (click)="burgerMenuOpen()" class="socialLinks menu" svgIcon="menu"></mat-icon>
    
    </div>

    <nav class="floatingBurgerMenu" [class.open]="isMenuOpen">
        <div class="burgerHead">
            <div>Menu</div>
            <img (click)="burgerMenuClose()" src="./../../assets/Header/Menu/close.svg" alt="">


        </div>

        <div class="burgerLink"><mat-icon svgIcon="flower" class="burgerFlower"></mat-icon>About Me</div>
        <div class="burgerLink"><mat-icon svgIcon="flower" class="burgerFlower"></mat-icon>Skillset</div>
        <div class="burgerLink"><mat-icon svgIcon="flower" class="burgerFlower"></mat-icon>Portfolio</div>
        <div class="burgerLink"><mat-icon svgIcon="flower" class="burgerFlower"></mat-icon>Refences</div>
        <div class="burgerLink"><mat-icon svgIcon="flower" class="burgerFlower"></mat-icon>Contact me</div>
    </nav>

</section>