<section>
    <div>
        <img (click)="goToLink('https://github.com/NilsNeu1')" class="socialLinks github"
            src="./../../assets/Header/Contact_icons/github.svg" alt="github Profil öffnen">
        <img class="socialLinks linkedin" src="./../../assets/Header/Contact_icons/linkedin.svg"
            alt="LinkedIn Profil öffnen">
        <img class="socialLinks mail" src="./../../assets/Header/Contact_icons/mail.svg" alt="Email Formular öffnen">
    </div>

    <div class="headerDeveloper">
        <img class="nameIcon" src="./../../assets/logo/dev_logo.svg" alt="">
        <span class="headerName">Neumann</span>
    </div>

    <div class="navigation">
        <div (click)="languageSwitch()" class="languageSelect">
  <span [class.animate]="langAnimate" class="langText">{{ activeLanguage }}</span>
</div>

        <img (click)="burgerMenuOpen()" class="socialLinks menu" src="./../../assets/Header/Menu/burger_menu.svg" alt="Menu">
    </div>

    <nav class="floatingBurgerMenu" [class.open]="isMenuOpen">
        <div class="burgerHead">
            <div>Menu</div>
            <img (click)="burgerMenuClose()" src="./../../assets/Header/Menu/close.svg" alt="">


        </div>

        <div class="burgerLink"><img src="./../../assets/logo/flower_dark.svg" alt="">About Me</div>
        <div class="burgerLink"><img src="./../../assets/logo/flower_dark.svg" alt="">Skillset</div>
        <div class="burgerLink"><img src="./../../assets/logo/flower_dark.svg" alt="">Portfolio</div>
        <div class="burgerLink"><img src="./../../assets/logo/flower_dark.svg" alt="">Refences</div>
        <div class="burgerLink"><img src="./../../assets/logo/flower_dark.svg" alt="">Contact me</div>
    </nav>

</section>