<section id="about" nav backgroundType="bright" appObserveSection="about">

    <h1 class="header-text">{{ 'ABOUT.TITLE' | translate }}</h1>

    <div class="section-text">
        <div class="information">
            <p>{{ 'ABOUT.TEXT_1' | translate }}</p>
            <p>{{ 'ABOUT.TEXT_2' | translate }}</p>

            <div class="information-interaction">
                <button (click)="scrollToSection('contact')" class="get-in-touch-btn">
                    {{ 'ABOUT.CTA' | translate }}
                </button>
                <mat-icon (mouseenter)="onHoverStart()" (mouseleave)="onHoverEnd()" class="psst-emoji"
                    svgIcon="psst-emoji-d"></mat-icon>
            </div>

            <div [class.open]="isHovered" class="about-me-overlay">
                <h2>{{ 'ABOUT.OVERLAY_TITLE' | translate }}</h2>
                <div>{{ 'ABOUT.OVERLAY_1' | translate }}</div>
                <div>{{ 'ABOUT.OVERLAY_2' | translate }}</div>
                <div>{{ 'ABOUT.OVERLAY_3' | translate }}</div>
                <div>{{ 'ABOUT.OVERLAY_4' | translate }}</div>
            </div>
        </div>
    </div>

    <div class="hero-container">
        <img class="hero-image" src="../../assets/portraits/About.jpg" alt="">
    </div>

</section>