@use '../../shared/mixin/colors.scss' as colors;
@use '../../shared/mixin/buttons.scss' as buttons;
@use '../../shared/mixin/content-wrapper.scss'as wrapper;
$mobile: 480px;
$tablet: 768px;
$laptop: 1024px;
$desktop: 1280px;

:host {
    display: block;
    background-color: colors.$primaryBright;
}

section {
    @include wrapper.content-wrapper();
    background-color: colors.$primaryBright;
    width: 100%;
    height: 100vh;
    padding-top: 0;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    overflow: hidden;
    position: relative;

    @media(max-width: $laptop){
        justify-content: center;
    }
}

.header-text {
     
        color: colors.$primaryDark;
        font-family: 'Eczar' !important;
        font-size: calc(1rem + 3vw);
        // margin-right: 35px;
    
}

.section-text {

    display: flex;
    align-items: flex-end;
    padding-top: 5%;
    flex-direction: column;
    justify-content: flex-start;

    h1 {
        color: colors.$primaryDark;
        font-family: 'Eczar' !important;
        font-size: calc(1rem + 4vw);
        // margin-right: 35px;
    }


}


.hero-container {
    display: flex;
    align-items: flex-end;
    width: auto;
    height: auto;

        @media(max-width: $laptop){
            align-items: flex-start;
        }

}

.hero-image {  // 3:4 Portait
    background-color: rgba(127, 255, 212, 0.368);
    height: clamp(200px, 280px + 35vw, 780px);
    width: auto;
    aspect-ratio: 3/4;
    object-fit: cover;

        @media (max-width: $laptop) {
        
        margin-top: 5%;
        height: clamp(230px, 150px + 30vw, 600px);
        transform: translate(10%, 50%);
    }

        @media(max-width: 380px){
        height: 235px;
    }

}

.information {
    


    //display: none;
    width: clamp(300px, calc(25vw + 200px), 700px);
    height: clamp(200px, 50px + 10.2vw, 250px);
    padding: 24px;
    background-color: colors.$primaryDark;
    color: colors.$primaryBright;
    border-radius: 6px;
    // position: relative;
    // transform: translate(calc(100% - 55vw), 10%);
    position: absolute;
    top: 40%;
    left: 48%;

    p{
        font-size: clamp(1rem, calc(1rem + (100vw - 1920px) * 0.025), 1.2rem);
    }
    
    @media(max-width: 1920px){
        height: clamp(200px, 400px - 14vw, 350px);

    }

    @media (max-width: $laptop) {
        aspect-ratio: 3/4;
        width: auto;
        height: clamp(200px, 110px + 28vw, 390px);
        z-index: 1;

        p{
            font-size: clamp(1rem, calc(0.25rem + 1.2vw), 1.5rem);
        }

    }

    @media(max-width: $tablet){
        padding: 12px;
        width: clamp(100px, 80px + 22vw, 300px);
        height: 440px;

    }

    @media(max-width: 380px){
        padding: 0px 12px 16px;
        top: 53%;
        left: 10%;
        width: 280px;
        height: 290px;
    }

}


.information-interaction{
    display: flex;
    justify-content: space-between;
    align-items: center;

}


.get-in-touch-btn {
    @include buttons.app-button(120px);

    border-color: colors.$primaryBright;
    color: colors.$primaryBright;

    &:hover {
        background-color: colors.$accentDark;
    }

     @media(max-width: $tablet){
        width: 100px;
        height: auto;
        padding: 5px;
        font-size: 1rem;
}
}

.psst-emoji{
    width: 40px;
    height: auto;
    aspect-ratio: 1/1;
    transition: transform 0.12s ease-out;
    cursor: pointer;
    animation: wobble 1s ease-in-out infinite;

    &:hover{
        animation: none;
    }

     @media(max-width: $tablet){
        width: 30px;
}
}


.about-me-overlay{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    height: auto;
    width: fit-content;
    aspect-ratio: 3/2;
    padding: 12px;
    background-color: colors.$primary;
    border: 1px solid colors.$primaryDark;
    border-radius: 6px;
    transform: translate(180%, 230%);
    opacity: 0;
    transition: transform 0.12s ease-out, opacity 0.12s ease-in-out;
    pointer-events: none;

    h2{
        margin-bottom: 6px;
        margin-top: 0;
        font-size: clamp(1rem, calc(1rem + (100vw - 1920px) * 0.05), 1.5rem);
    }

    div{
        font-size: clamp(1rem, calc(1rem + (100vw - 1920px) * 0.025), 1.2rem);
    }



    @media(max-width: 1920px){
        h2{
            font-size: 1.5rem;
        }

        div{
            font-size: 1rem;
        }
    }

    @media(max-width: $laptop){

        h2{
            font-size: calc(0.8rem + 1vw);
        }

        div{
            font-size: calc(0.5rem + 1vw);}
    }

        @media(max-width: $tablet){

        h2{
            font-size: 1.2rem;
        }

        div{
            font-size: 1rem}
    }
    
}

.about-me-overlay.open{
    transform: translate(120%, 0%);
    opacity: 1;
    pointer-events: auto;

    @media(max-width: $laptop){
        transform: translate(-70%, -65%);
    }

        @media(max-width: $tablet){
        transform: translate(-50%, -75%);
        // width: 150px;
    }

        @media(max-width: 380px){
        transform: translate(-10%, -93%);
    }


}


@keyframes wobble {
    0% {
        transform: translateY(0px);
    }
    50%{
        transform: translateY(-6px);
    }
     100%{
        transform: translateY(0px);
    }

}