<section id="about" nav backgroundType="bright" appObserveSection="about">

    <div class="section-titel">
        <h1>About me</h1>

        <div class="information">
            <p>What began as a spark of curiosity and a small first project quickly grew into a passion and a clear
                professional direction.
                With an inquisitive mindset and a place in a field that never stops evolving, I soon realized that
                programming wasn't just an interest
                <br>- it was the path I wanted to pursue.
            </p>
            <p>Let's grow and create something Awesome together!</p>

            <div class="information-interaction">
                <button class="get-in-touch-btn">Let's Talk</button>
                <mat-icon (mouseenter)="onHoverStart()" (mouseleave)="onHoverEnd()" class="psst-emoji"
                    svgIcon="psst-emoji-d"></mat-icon>


            </div>

            <div [class.open]="isHovered" class="about-me-overlay">
                <h2>More about me</h2>
                <div> - Tech enthusiast</div>
                <div> - striving to improve</div>
                <div> - inspired by Problems to solve</div>
                <div> - happy to expand my skillsset</div>
            </div>

        </div>


    </div>

    <div class="hero-container">
        <img class="hero-image" src="../../assets/placeholder/ryan-reynolds.png" alt="">
    </div>



</section>