@use '../../shared/mixin/colors.scss' as colors;
@use '../../shared/mixin/buttons.scss' as buttons;
$mobile: 480px;
$tablet: 768px;
$laptop: 1024px;
$desktop: 1280px;


section {
    background-color: colors.$primaryBright;
    width: 100%;
    height: 100vh;
    padding-top: 0;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    overflow: hidden;

    @media(max-width: $laptop){
        justify-content: center;
    }
}

.section-text {

    display: flex;
    align-items: flex-end;
    padding-top: 5%;
    flex-direction: column;
    justify-content: flex-start;

    h1 {
        color: colors.$primaryDark;
        font-family: 'Eczar' !important;
        font-size: calc(1rem + 4vw);
        margin-right: 35px;
    }

        @media(max-width: $laptop){
            h1 {
            }
    }

}


.hero-container {
    display: flex;
    align-items: flex-end;
    width: auto;
    height: auto;

        @media(max-width: $laptop){
            align-items: flex-start;
        }

}

.hero-image {  // 3:4 Portait
    background-color: colors.$primary;
    height: clamp(200px, 280px + 35vw, 920px);
    width: auto;
    aspect-ratio: 3/4;

        @media (max-width: $laptop) {
        
        margin-top: 5%;
        height: clamp(300px, 120px + 30vw, 600px);
        transform: translate(10%, 50%);
    }

}

.information {
    //display: none;
    width: clamp(300px, calc(25vw + 200px), 660px);
    height: clamp(200px, 400px - 14vw, 350px);
    padding: 24px;
    background-color: colors.$primaryDark;
    color: colors.$primaryBright;
    position: relative;
    transform: translate(calc(100% - 55vw), 10%);
    border-radius: 6px;

    @media (max-width: $laptop) {
        transform: translate(0, 60%);
        aspect-ratio: 3/4;
        width: auto;
        height: clamp(200px, 110px + 28vw, 390px);
        z-index: 1;

        p{
            font-size: calc(0.5rem + 1vw);
        }

    }

}


.information-interaction{
    display: flex;
    justify-content: space-between;
    align-items: center;

}


.get-in-touch-btn {
    @include buttons.app-button(120px);

    border-color: colors.$primaryBright;
    color: colors.$primaryBright;

    &:hover {
        background-color: colors.$accentDark;
    }
}

.psst-emoji{
    width: 40px;
    height: 40px;
    transition: transform 0.12s ease-out;
    cursor: pointer;
    animation: wobble 1s ease-in-out infinite;

    &:hover{
        animation: none;
    }
}


.about-me-overlay{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    height: 170px;
    width: auto;
    aspect-ratio: 3/2;
    padding: 12px;
    background-color: colors.$primary;
    border: 1px solid colors.$primaryDark;
    border-radius: 6px;
    transform: translate(180%, 230%);
    opacity: 0;
    transition: transform 0.12s ease-out, opacity 0.12s ease-in-out;
    pointer-events: none;

    h2{
        margin-bottom: 6px;
        margin-top: 0;
    }
    
}

.about-me-overlay.open{
    transform: translate(20vw, 6%);
    opacity: 1;
    pointer-events: auto;

    @media(max-width: $laptop){
        transform: translate(-70%, 6%);
    }
}


@keyframes wobble {
    0% {
        transform: translateY(0px);
    }
    50%{
        transform: translateY(6px);
    }
     100%{
        transform: translateY(0px);
    }

}