<section class="bullet-container" >
    <div> <mat-icon class="bullet active-bright" svgIcon="nav-bullet-active" ></mat-icon> </div>
    <div> <mat-icon class="bullet inactive-bright" svgIcon="nav-bullet-inactive" ></mat-icon> </div>
    <div> <mat-icon class="bullet inactive-bright" svgIcon="nav-bullet-inactive" ></mat-icon> </div>
    <div> <mat-icon class="bullet inactive-bright" svgIcon="nav-bullet-inactive" ></mat-icon> </div>
    <div> <mat-icon class="bullet inactive-bright" svgIcon="nav-bullet-inactive" ></mat-icon> </div>
    <div> <mat-icon class="bullet inactive-bright" svgIcon="nav-bullet-inactive" ></mat-icon> </div>
</section>
