<section class="bullet-container" >
   <div
   class="bullet"
   *ngFor="let section of sections"
   [class.active]="section.id === activeSectionId"
   (click)="scrollTo(section.id)"
   >

   <ng-container
   *ngIf="section.id === activeSectionId; else inactiveIcon">
    <mat-icon  class="bullet" [ngClass]="activeBulletColorClass" svgIcon="nav-bullet-active" ></mat-icon>
    </ng-container>

    <ng-template #inactiveIcon >
        <mat-icon  class="bullet" [ngClass]="bulletColorClass" svgIcon="nav-bullet-inactive" ></mat-icon>
    </ng-template>

   </div>
</section>


