<section nav id="projects" backgroundType="bright" appObserveSection="projects">

    <div class="project-section-header">
        <h1>My work</h1>
        <span>Explore a selection of my work here - Interact with the projects to see my skills in action.</span>
    </div>

    <div class="project-carousel">

        <div class="project-snapshots" [style.background-color]="projects[currentIndex].bgColor">
            <mat-icon class="snapshot-spinner" svgIcon="flower"
                [style.color]="projects[currentIndex].spinnerColor"></mat-icon>
            <img class="snapshot-display" src="{{projects[currentIndex].snapshot}}"
                alt="{{projects[currentIndex].name}}">
        </div>


        <div>
            <div class="project-infobox">

                <div class="project-infobox-titel">
                    <h2>{{projects[currentIndex].name}}</h2>
                    <img src="{{projects[currentIndex].icon}}" alt="">
                </div>

                <div>
                    <span class="used-skills" *ngFor="let tech of projects[currentIndex].technologies">
                        {{ tech }}
                    </span>
                </div>

                <div>
                    <span>
                        {{projects[currentIndex].description}}
                    </span>
                </div>

                <div class="project-links-container">
                    <a [href]="projects[currentIndex].github" target="_blank" class="project-links">Github</a>
                    <a [href]="projects[currentIndex].redirect" target="_blank" class="project-links">Live Test</a>
                </div>


            </div>

            <div class="project-select-buttons">
                <nav (click)="prevProject()">Previous project</nav>
                <nav (click)="nextProject()">Next project</nav>
            </div>
        </div>

    </div>

</section>