<section nav id="projects" backgroundType="bright">

    <div class="project-section-header">
        <h1>My work</h1>
        <span>Explore a selection of my work here - Interact with the projects to see my skills in action.</span>
    </div>

    <div class="project-carousel">

        <div 
        class="project-snapshots"
        [style.background-color]="projects[currentIndex].color" >
            <img src="{{projects[currentIndex].snapshot}}" alt="{{projects[currentIndex].name}}">
        </div>


        <div>
            <div class="project-infobox">

                <div class="project-infobox-titel">
                    <h2>{{projects[currentIndex].name}}</h2>
                    <img src="{{projects[currentIndex].icon}}" alt="">
                </div>

                <div>
                    <span class="used-skills" *ngFor="let tech of projects[currentIndex].technologies">
                        {{ tech }}
                    </span>
                </div>

                <div>
                    <span>
                        {{projects[currentIndex].description}}
                    </span>
                </div>

                <div class="project-links-container" >
                    <nav class="project-links" (click)="prevProject()">Github</nav>
                    <nav class="project-links" (click)="nextProject()">Live Test</nav>
                </div>


            </div>

            <div class="project-select-buttons">
                <nav>Previous project</nav>
                <nav>Next project</nav>
            </div>
        </div>

    </div>

</section>