@use '../../shared/mixin/colors.scss' as colors;
@use '../../shared/mixin/buttons.scss' as buttons;
@use '../../shared/mixin/content-wrapper.scss' as wrapper;

$mobile: 480px;
$tablet: 768px;
$laptop: 1024px;
$desktop: 1280px;


:host {
    display: block;
    background-color: colors.$primary;
}

section {
    @include wrapper.content-wrapper();
    // background-color: colors.$primary;
    width: 100%;
    height: 100vh;
    height: 100dvh;
    padding-top: 0;
    display: flex;
    justify-content: space-evenly;
    position: relative;

    @media (max-width: $laptop) {
        justify-content: end;
        flex-direction: column;
        align-items: center;
    }
}

.intro-text {
    color: colors.$primaryBright;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    padding-top: 5%;


    p {
        margin: 0;
        font-size: clamp(0.5rem, calc(1rem + 3vw), 3rem);
        margin-block-start: -0.4em;
    }

    h1 {
        line-height: 0.8em;
        font-size: clamp(1rem, calc(1rem + 5vw), 5rem);
        margin: 0.15em 0;
    }


    @media (max-width: $laptop) {

        p {
            font-size: clamp(0.5rem, calc(1rem + 1.5vh), 3rem);
        }

        h1 {
            line-height: 1em;
            font-size: clamp(1rem, calc(1.6rem + 2vh), 7rem);
        }
    }


}

.hero-display {

    display: flex;
    flex-direction: column-reverse;
    align-items: end;
    width: min(900px, 50%);
    height: auto;
    aspect-ratio: 1/1;

    @media (max-width: $laptop) {
        padding-top: 5vh;
        width: max(60%, 300px);
        align-items: center;
        aspect-ratio: unset;
    }

    @media (max-width: $tablet) {
        width: 85%;

    }

}

.hero-display-flower {
    color: colors.$accentDark;
    width: 6%;
    margin-right: 15px;
    height: auto;
    aspect-ratio: 1 / 1;
    position: relative;
    overflow: visible;
    transform: scale(10) translate(-50%, 55%);
    z-index: 1;

        @media (max-width: $laptop) {
        width: 4%;

        aspect-ratio: none;
    }

@media (max-width: $mobile) {
        width: 7%;
        transform: scale(9) translate(-50%, 55%);
    }


}

.hero-image {
    // 1:1 Portrait
    z-index: 10;
    width: 100%;
    height: auto;
    aspect-ratio: 1/1.1;
    object-fit: contain;

    @media (max-width: $laptop) {
        width: auto;
        height: 50vh;
        aspect-ratio: none;
    }

        @media (max-width: $mobile) {
        width: auto;
        height: 50vh;
    }

}


.scroll-button-container {
    background-color: colors.$primary;
    z-index: 100;
    border-radius: 50%;
    width: 120px;
    height: auto;
    aspect-ratio: 1/1;

    @media (max-width: $laptop) {
        position: absolute;
        bottom: 5%;
        left: 5%;
        width: 10%;

    }

    @media (max-width: $tablet) {
                width: 15%;
    }
}

.scroll-down-button {
    position: relative;
    width: 100%;
    height: auto;
    aspect-ratio: 1/1;
    // margin-top: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    .arc-text-svg {
        width: 100%;
        height: auto;
        aspect-ratio: 1/1;
        overflow: visible;
        animation: spin 8s linear infinite;
        transform-origin: center center;

        text {
            fill: colors.$primaryBright;
            font-size: 12px;
            font-family: "Quicksand", sans-serif;
        }

        @media (max-width: $laptop) {
            width: 90%;

        }
    }

    .rotating-icon {
        color: colors.$accentBright;
        position: absolute;
        width: 80%;
        height: auto;
        aspect-ratio: 1/1;
        transform: translate(-50%, -50%);
        transform-origin: center center;
        animation: spin 8s linear infinite;


        @media (max-width: $laptop) {
            width: 60%;
        }
    }
}


.arrow-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(90deg) scale(2);
  z-index: 10;

        @media (max-width: $mobile) {
            transform: translate(-50%, -50%) rotate(90deg) scale(1.2);
        }


}






@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}



button {
    @include buttons.app-button(160px);
    border-color: colors.$primaryBright;
    color: colors.$primaryBright;
    margin-top: 50px;


    &:hover {
        background-color: colors.$accentDark;
    }

    @media (max-width: $laptop) {
        margin-top: 5%;
        width: 140px;
        height: 32px;

    }

}