@use '../../shared/mixin/colors.scss' as colors;
@use '../../shared/mixin/buttons.scss' as buttons;

$mobile: 480px;
$tablet: 768px;
$laptop: 1024px;
$desktop: 1280px;


section {
    background-color: colors.$primary;
    width: 100%;
    height: 100vh;
    padding-top: 0;
    display: flex;
    justify-content: space-evenly;

     @media (max-width: $laptop) {
        justify-content: center;
        flex-direction: column;
        align-items: center;
        padding-top: 50px;
     }
}

.intro-text {
    color: colors.$primaryBright;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    padding-top: 5%;


    p {
        margin: 0;
        font-size: clamp(0.5rem, calc(1rem + 3vw), 5rem);
        margin-block-start: -0.4em;
    }

    h1 {
        line-height: 0.8em;
        font-size: clamp(1rem, calc(1rem + 5vw), 7rem);
        margin: 0.15em 0;
    }

}

.hero-display {

    display: flex;
    flex-direction: column-reverse;
    align-items: end;
    width: min(900px, 50%);

}

.hero-display-flower {
    color: colors.$accentDark;
    width: 6%;
    height: auto;
    // aspect-ratio: 1 / 1;
    position: relative;
    transform: scale(10) translate(-30%, 45%);
    z-index: 1;

}

.hero-image {
    // 1:1 Portrait
    z-index: 10;
    width: 100%;
    height: auto;
    aspect-ratio: 1 /1;
    background-color: rgba(127, 255, 212, 0.368);
}


.scroll-down-button {
    position: relative;
    width: 120px;
    // height: 120px;
    // margin-top: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    .arc-text-svg {
        width: 100%;
        height: 100%;
        overflow: visible;
        animation: spin 8s linear infinite;
        transform-origin: center center;

        text {
            fill: colors.$primaryBright;
            font-size: 12px;
            font-family: "Quicksand", sans-serif;
        }
    }

    .rotating-icon {
        color: colors.$accentBright;
        position: absolute;
        width: 90px;
        height: 90px;
        transform: translate(-50%, -50%);
        transform-origin: center center;
        animation: spin 8s linear infinite;
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}



button {
    @include buttons.app-button(160px);
    border-color: colors.$primaryBright;
    color: colors.$primaryBright;
    margin-top: 50px;


    &:hover {
        background-color: colors.$accentDark;
    }

}