<section id="hero" nav="" [attr.darkUi]="false" appObserveSection="hero">

<div class="intro-text" > 
<p>Hello There! I'm</p>
<h1 class="font-eczar">Nils</h1>
<h1 class="font-eczar">Neumann</h1>
<p>Frontend Developer</p>

<button>
    Get in Touche
</button>


<nav class="scroll-down-button">
    <mat-icon svgIcon="flower" class="rotating-icon"></mat-icon>
    <svg viewBox="0 0 100 100" class="arc-text-svg">
        <defs>
            <path id="circlePath" d="M50,50 m-45,0 a45,45 0 1,1 90,0 a45,45 0 1,1 -90,0" />
        </defs>
        <text text-anchor="middle">
            <textPath href="#circlePath" startOffset="50%">
                Scroll down. Scroll down. Scroll down. Scroll down.
            </textPath>
        </text>
    </svg>

</nav>


</div>


<div class="hero-display" >
    <mat-icon svgIcon="flower" class="hero-display-flower" ></mat-icon>
<img class="hero-image" src="./../../assets/placeholder/ryan-reynolds.png" alt="">

</div>


</section>
