@use '../../shared/mixin/colors.scss' as colors;
@use '../../shared/mixin/buttons.scss' as buttons;


section {
    height: 100vh;
    width: 100%;
    background-color: colors.$primaryDark;
    padding-top: 0;
    padding-left: 4rem;
    color: colors.$primaryBright;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.contact-container {
    display: flex;
    flex-direction: column;

    width: 40%;
}

.contact-header {
    width: 800px;

    h1 {
        color: colors.$accentBright;
        font-family: 'Eczar';
        font-size: 50px;
    }
}

.contact-text {
    width: 800px;

    h2 {
        color: colors.$accentDark;
    }

}

.contact-form-container {
    display: flex;
    flex-direction: column;
     width: 40%;
}

.form-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.form-block {
    display: flex;
    flex-direction: column;
    padding: 24px;
    padding-left: 0px;
    width: stretch;

    label {
        color: colors.$primaryBright;
        font-family: 'Quicksand', sans-serif;
        font-weight: 800;
        font-size: 24px;
        transition: color 0.2s ease;
    }

    input,
    textarea {
        background: transparent;
        border: 0;
        border-bottom: 2px solid colors.$accentBright;
        color: colors.$primaryBright;
        min-height: 30px;
        max-height: 400px;
        field-sizing: content;
        transition: border-color 0.2s ease;
        font-family: 'Quicksand', sans-serif;
        font-size: 1em;
        outline: transparent;
        scrollbar-width: thin;
        scrollbar-color: colors.$accentDark transparent;
        resize: none;
        cursor: pointer;

        &::placeholder {
            color: colors.$primaryBright;
            filter: opacity(0.5);
        }
    }

    &:hover {
        label {
            color: colors.$accentBright;
        }

        input,
        textarea {
            border-bottom: 2px solid colors.$accentDark;
        }
    }

    &:focus-within {
        label {
            color: colors.$accentDark;
        }

        input,
        textarea {
            border-bottom-color: colors.$accentDark;
            // padding-top: 18px;

        }
    }
}

.policy{
    padding-top: 30px;

    a{
color: colors.$accentDark;
}
}

// .policy-btn{
//       border-color: colors.$accentBright; 
//       background-color: none;
// }

.submit-btn{
    border-color: colors.$accentBright;
}

.footer{

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 60px;

    a{
    color: colors.$primaryBright;
    text-decoration: none;
    padding-left: 30px;

    &:hover{
        color: colors.$accentDark;
    }

}
}

.policy-btn {
  appearance: none;        // Browser-Styles entfernen
  width: 14px;
  height: 14px;
  border: 2px solid colors.$accentDark;
  border-radius: 1px;
  cursor: pointer;
  background-color: transparent;
  transition: border-color 0.2s ease;

  &:checked {
    background-color: transparent;
    content: "";
  }

  // Optional: Hover
  &:hover {
    border-color: lighten(colors.$accentBright, 10%);
  }

}


