<section id="contact" appObserveSection="contact">

    <div class="contact-container" >
        <div class="contact-header">
            <h1  >Let's build something Cool together!</h1>
        </div>

        <div class="contact-text">
            <h2>Got a problem to solve?</h2>
            <span>
                I'm a frontend developer with a strong focus on building clean, maintainable, and accessible
                applications — especially with Angular. I'm currently looking for opportunities to contribute as a
                frontend engineer, ideally within a team that values solid architecture, clarity in code, and long-term
                maintainability.
            </span>
            <!-- <span>
                <br>While my core strength lies in frontend development, I'm actively expanding my backend skills to grow
                into a more versatile full-stack role over time. If you're looking for someone who brings technical
                precision, thoughtful problem-solving, and a commitment to high-quality engineering, I'd be excited to
                connect and explore how I can add value to your projects or team.
            </span> -->

        </div>
    </div>

    <div class="contact-form-container">
        <form action="">
            <label for="clientName">Your Name:</label>
            <input type="text">
        </form>

        <form action="">
            <label for="clientEmail">Your Email:</label>
            <input type="email">
        </form>

        <form action="">
            <label for="clientMessage">Your Message:</label>
            <textarea name="clientMessage" id="" cols="30" rows="10"></textarea>
        </form>

        <span> <input type="checkbox" name="" id="AGB"> i've read the <a href="">privacy policy</a> and agree to the processing of my data.</span>
        <button class="submit-btn">Submit</button>
    </div>

</section>