<section id="contact" appObserveSection="contact">

    <div class="contact-container">
        <div class="contact-header">
            <h1>Let's build something Cool together!</h1>
        </div>

        <div class="contact-text">
            <h2>Got a problem to solve?</h2>
            <span>
                I'm a frontend developer with a strong focus on building clean, maintainable, and accessible
                applications — especially with Angular. I'm currently looking for opportunities to contribute as a
                frontend engineer, ideally within a team that values solid architecture, clarity in code, and long-term
                maintainability.
            </span>
            <!-- <span>
                <br>While my core strength lies in frontend development, I'm actively expanding my backend skills to grow
                into a more versatile full-stack role over time. If you're looking for someone who brings technical
                precision, thoughtful problem-solving, and a commitment to high-quality engineering, I'd be excited to
                connect and explore how I can add value to your projects or team.
            </span> -->

        </div>
    </div>

    <div class="contact-form-container">

        <form (ngSubmit)="onSubmit()">


            <div class="form-row">
                <div class="form-block">
                    <label for="clientName">What's your name?</label>
                    <input [(ngModel)]="contactData.clientName" name="clientName" id="clientName" type="text"
                        placeholder="Your Name...">
                </div>

                <div class="form-block">
                    <label for="clientEmail">What's your email?</label>
                    <input [(ngModel)]="contactData.clientEmail" name="clientEmail" id="clientEmail" type="email"
                        placeholder="youremail@email.com">
                </div>
            </div>





            <div class="form-block">
                <label for="clientMessage">How can I help you?</label>
                <textarea [(ngModel)]="contactData.clientMessage" name="clientMessage" id="clientMessage" cols="30"
                    rows="10" placeholder="Hello Nils, i'm interested in..."></textarea>
            </div>

            <div  class="policy">
                <span>
                    <input class="policy-btn" type="checkbox" name="" id="AGB"> I've read the <a href="">privacy policy</a> and agree to
                    the
                    processing of my data.
                </span>
            </div>


            <input class="submit-btn" type="submit" value="Submit">




        </form>


                    <div class="footer">
                <span>© 2024 Nils Neumann 2026</span>

                <div class="footer-links">
                    <a href="" target="_blank">Impressum</a>
                    <a href="https://github.com/NilsNeu1" target="_blank">GitHub</a>
                </div>

            </div>

    </div>




</section>

