$backgroundColor: #679AAC;
$backgroundColorDark: #1D1D1D;
$backgroundColorLight: #F8F7E5;
$highlightsDark: #FF834F;
$highlightsBright: #F9AF42;

// alternative colors
$backgroundColorType2: #213830;
$highlightsDarkType2: #EA8EB8;
$highlightsBrightType2: #B9C814;
