<section id="skills" class="competencies-container" nav backgroundType="dark" appObserveSection="skills">

    <div>
        <div class="my-passion">
            <h1>{{ 'SKILLS.TITLE' | translate }}</h1>
            <div class="passion-text">{{ 'SKILLS.TEXT' | translate }}</div>
        </div>
    </div>

    <div class="skillset">
        <div class="spinner-container">
            <mat-icon class="growth-spinner" svgIcon="flower"></mat-icon>
            <img class="show-more" (mouseenter)="onHoverStart()" (mouseleave)="onHoverEnd()"
                src="../../assets/general/Project_emoji/Learning_D.svg" alt="">
        </div>

        <div [class.open]="isHovered" class="growth-slide-in">
            <h2>{{ 'SKILLS.GROWTH_TITLE' | translate }}</h2>
            <span>{{ 'SKILLS.GROWTH_TEXT' | translate }}</span>
            <div class="next-skills-container">
                <div class="next-skills">
                    <img src="../../assets/Backend_Skills_icons/Linux.svg" alt="">
                    <span>Linux</span>
                </div>
                <div class="next-skills">
                    <img src="../../assets/Backend_Skills_icons/Python.svg" alt="">
                    <span>Python</span>
                </div>
            </div>
        </div>

        <div class="skill-icon-container">
            <div class="skill-icon" *ngFor="let skill of skills">
                <img [src]="skill.icon" alt="">
                <span>{{ skill.label }}</span>
            </div>
        </div>
    </div>

</section>