@use '../../shared/mixin/colors.scss' as colors;


section {
    height: 100vh;
    width: 100%;
    background-color: colors.$primaryDark;
    padding-top: 0;
}

.competencies-container {
    /* padding-top: 5%; */
    /* gap: 18px; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.my-passion {
    color: colors.$primaryBright;
    padding-left: 4rem;

    h1 {
        font-size: 72px;
        font-family: 'Eczar';
        font-weight: 800;

    }
}

.passion-text {
    background-color: colors.$primary;
    border-radius: 6px;
    padding: 36px;
    width: 50%;
}

.skillset {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.show-more{
    transform: translate(-80px, -36px);
    cursor: pointer;
}

.growth-spinner {
    color: colors.$accentDark;
    width: 120px;
    height: 120px;
    animation: spin 8s linear infinite;
}


.growth-slide-in {
    background-color: colors.$accentBright;
    color: colors.$primaryBright;
    border-radius: 6px;
    padding: 24px;
    width: 400px;
    border: 1px solid colors.$primaryBright;

    transform: translateY(600px);
    opacity: 0;
    transition: transform 0.12s ease-out, opacity 0.12s ease-in-out;
    pointer-events: none;
}

.growth-slide-in.open{
    transform: translateY(0);
    opacity: 1;
    pointer-events: auto;
}

.skill-icon-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 6px;
}

.skill-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;
    color: colors.$primaryBright;

}

.next-skills-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 6px;
}

.next-skills{
    display: flex;
    flex-direction: column;
    align-items: center;

    img{
        width: 50px;
        height: 50px;
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}