<section id="skills" nav backgroundType="dark">


    <div>

        <div>
        <h1> Core Competencies</h1>
    
        <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae ipsa consequatur assumenda. Tempore voluptas magni accusamus tenetur porro aut voluptatum provident dolores, unde, labore ratione quisquam consequatur fugit adipisci ducimus.</span>
        </div>

    </div>

    <div>
        <div>
            <mat-icon svgIcon="flower" > </mat-icon>
        </div>
        <div class="growth-slide-in" >
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
        </div>
        <div>
            <mat-icon class="skill-icon" ></mat-icon>
        </div>
    </div>

</section>
