@use '../../shared/mixin/colors.scss' as colors;
@use '../../shared/mixin/content-wrapper.scss' as wrapper;
$mobile: 480px;
$tablet: 768px;
$laptop: 1024px;
$desktop: 1280px;


:host {
    display: block;
    background-color: colors.$primaryDark;
}

section {
    @include wrapper.content-wrapper();
    height: 100vh;
    width: 100%;
    background-color: colors.$primaryDark;
    padding-top: 0;
}

.competencies-container {
    /* padding-top: 5%; */
    /* gap: 18px; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;


}

.my-passion {
    color: colors.$primaryBright;
    padding-left: 4%;

    h1 {
        font-size: calc(1rem + 2.5vw);
        font-family: 'Eczar';
        font-weight: 800;

    }

    @media(max-width: $laptop) {
        padding-left: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.passion-text {
    background-color: colors.$primary;
    font-size: clamp(1rem, 1rem + (100vw - 1920px) * 0.025, 1.6rem);
    border-radius: 6px;
    padding: 18px;
    width: 50%;

    @media(max-width: $laptop) {
        font-size: clamp(1rem, calc(0.5rem + 1vw), 1.2rem);
        border-radius: 6px;
        padding: 16px;
        width: 90%;
    }
}

.skillset {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    position: relative;
    overflow: hidden;
    height: 45vh;

    @media(max-width: $laptop) {
        flex-direction: column-reverse;
        height: 55vh;
    }
}

.show-more {
    // transform: translate(-80px, -36px);
    position: absolute;
    cursor: pointer;
    width: 90px;

        @media(max-width: 1920px) {
        width: 60px;
    }

            @media(max-width: $tablet) {
        width: 50px;
    }

}


.spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.growth-spinner {
    color: colors.$accentDark;
    width: 150px;
    height: auto;
    aspect-ratio: 1/1;
    animation: spin 8s linear infinite;

    @media(max-width: 1920px) {
        width: 120px;
    }

    @media(max-width: $laptop) {
        width: 80px;
    }

}


.growth-slide-in {
    background-color: colors.$accentBright;
    color: colors.$primaryBright;
    border-radius: 6px;
    padding: 24px;
    width: clamp(200px, calc(20vw + 100px), 400px);
    border: 1px solid colors.$primaryBright;
    transform: translate(0, 60vh);
    opacity: 1;
    transition: transform 0.12s ease-out, opacity 0.12s ease-in-out;
    pointer-events: none;
    position: absolute;
}

.growth-slide-in.open {
    transform: translate(-10vw, 0);
    padding: 24px;
    opacity: 1;
    pointer-events: auto;


    h2 {
        font-size: clamp(1rem, calc(1rem + (100vw - 1920px) * 0.05), 2rem);
    }

    span {
        font-size: clamp(1rem, calc(1rem + (100vw - 1920px) * 0.025), 1.6rem);
    }

    @media(max-width: $laptop) {
        transform: translate(0, 0);
        padding: 12px;

        h2 {
            font-size: calc(0.6rem + 2vw);
        }

        span {
            font-size: clamp(1rem, calc(0.5rem + 1vw), 1.2rem);
        }
    }
}

.skill-icon-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 6px;

    @media(max-width: $laptop) {
        grid-template-columns: repeat(5, 1fr);
        gap: 2px;
    }
}

.skill-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;
    color: colors.$primaryBright;

    img {
        width: clamp(30px, calc(3vw + 10px), 100px);
        height: auto;
        aspect-ratio: 1/1;
    }

    span {
        font-size: clamp(1rem, 1rem + (100vw - 1920px) * 0.025, 1.6rem);
    }

    @media(max-width: $laptop) {
        img {
            width: clamp(50px, calc(8vw + 10px), 70px);
        }

        span {
            font-size: clamp(0.8rem, calc(0.5rem + 1vw), 1.2rem);
        }

    }

}

.next-skills-container {
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 6px;
}

.next-skills {
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
        width: clamp(40px, calc(3vw + 10px), 100px);
        height: auto;
        aspect-ratio: 1/1;
    }


    @media(max-width: $tablet) {
        img {
            width: clamp(50px, calc(8vw + 10px), 70px);
        }
        
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}