<app-legal-header></app-legal-header>

<section>

    <h1>{{ 'LEGAL.title' | translate }}</h1>

    <div>
        <h2>{{ 'LEGAL.imprint.title' | translate }}</h2>
        <p>{{ 'LEGAL.imprint.name' | translate }}<br>
            {{ 'LEGAL.imprint.street' | translate }}<br>
            {{ 'LEGAL.imprint.city' | translate }}</p>
    </div>

    <div>
        <h2>{{ 'LEGAL.contact.title' | translate }}</h2>
        <p>{{ 'LEGAL.contact.email' | translate }}</p>
    </div>

    <div>
        <h2>{{ 'LEGAL.acceptance.title' | translate }}</h2>
        <p>{{ 'LEGAL.acceptance.body' | translate }}</p>
    </div>

    <div>
        <h2>{{ 'LEGAL.scope.title' | translate }}</h2>
        <p>{{ 'LEGAL.scope.body1' | translate }}</p>
        <p>{{ 'LEGAL.scope.body2' | translate }}</p>
    </div>

    <div>
        <h2>{{ 'LEGAL.proprietary.title' | translate }}</h2>
        <p>{{ 'LEGAL.proprietary.body' | translate }}</p>
    </div>

    <div>
        <h2>{{ 'LEGAL.usage.title' | translate }}</h2>
        <p>{{ 'LEGAL.usage.body' | translate }}</p>
    </div>

    <div>
        <h2>{{ 'LEGAL.disclaimer.title' | translate }}</h2>
        <p>{{ 'LEGAL.disclaimer.body' | translate }}</p>
    </div>

    <div>
        <h2>{{ 'LEGAL.indemnity.title' | translate }}</h2>
        <p>{{ 'LEGAL.indemnity.body' | translate }}</p>

        <p>{{ 'LEGAL.indemnity.contactNote' | translate }}</p>

        <p>{{ 'LEGAL.indemnity.date' | translate }}</p>
    </div>

</section>

<footer class="legal-footer">
    <span>{{ 'LEGAL.footer.copyright' | translate }}</span>
    <div class="footer-links">
        <a href="https://github.com/NilsNeu1" target="_blank">GitHub</a>
    </div>
</footer>