@use '../../shared/mixin/colors.scss' as colors;
@use '../../shared/mixin/buttons.scss' as buttons;
@use '../../shared/mixin/content-wrapper.scss' as wrapper;

:host {
    display: block;
    background-color: colors.$primaryDark;
}


section {
    @include wrapper.content-wrapper();
    width: 100%;
    min-height: 100vh;
    max-height: fit-content;
    background-color: colors.$primaryDark;
    padding-top: 0;
    color: colors.$primaryBright;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

h1{
    color: colors.$accentBright;
    font-size: 60px;
}

div{
    max-width: 800px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    h2{
        color: colors.$accentBright;
    }

    p{
        color: colors.$primaryBright;

        mark{
            color: colors.$accentBright;
            background-color: transparent;
        }
    }
}

.legal-footer{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding-bottom: 20px;

    span{
        color: colors.$primaryBright;
    }
 
}

.footer-links{
    display: flex;
    flex-direction: row;
    align-items: flex-start;

    a{
        color: colors.$primaryBright;
        text-decoration: none;
    }
}
