$primary: #679AAC;
$primaryDark: #1D1D1D;
$primaryBright: #F8F7E5;
$accentDark: #FF834F;
$accentBright: #F9AF42;

// alternative colors
$primaryType2: #213830;
$accentDarkType2: #EA8EB8;
$accentBrightType2: #B9C814;
